<div class="dropdown col-xs-12 no-padding open"> <button class="membutton ng-binding" type="button"
    data-toggle="dropdown" style="width:100%;margin-bottom:0" aria-expanded="true"> Open enrollment <span
      class="filterdrop"></span> </button>
  <ul class="program_filter_dropdown dropdown-menu cstm-scrollbar" style="width:100%;top:0;background-color:#fff">
    <li style="margin-top:5px" ng-hide="user_access_settings.MEM_OPEN_ENROLLMENT == 'N'"
      ng-class="{'disable_user_access':user_access_settings.MEM_OPEN_ENROLLMENT == 'D'}" class="no-border"
      ng-click="memstructureSelection('OE')"> <label class="dropdown_filter_check"> <input id="OEstructure"
          type="checkbox"> <label for="OEstructure"
          style="cursor:pointer;margin:3px 0 3px 7px;color:#000;font-weight:400">Open enrollment</label> <span
          ng-class="memstructure==='OE'?'dropdown_filter_checkmark_2':''" class="dropdown_filter_checkmark_2"></span>
      </label> </li>
    <li style="margin-top:5px" class="no-border" ng-hide="user_access_settings.MEM_CUSTOM == 'N'"
      ng-class="{'disable_user_access':user_access_settings.MEM_CUSTOM == 'D'}" ng-click="memstructureSelection('C')">
      <label class="dropdown_filter_check"> <input id="Cstructure" type="checkbox"> <label for="Cstructure"
          style="cursor:pointer;margin:3px 0 3px 7px;color:#000;font-weight:400">Custom</label> <span
          ng-class="memstructure==='C'?'dropdown_filter_checkmark_2':''"></span> </label>
    </li>
    <li style="margin-top:5px" class="no-border"
      ng-hide="user_access_settings.MEM_HAS_SPECIFIC_START_AND_END_DATE == 'N'"
      ng-class="{'disable_user_access':user_access_settings.MEM_HAS_SPECIFIC_START_AND_END_DATE == 'D'}"
      ng-click="memstructureSelection('SE')"> <label class="dropdown_filter_check"> <input id="SEstructure"
          type="checkbox"> <label for="SEstructure"
          style="cursor:pointer;margin:3px 0 3px 7px;color:#000;font-weight:400">Has specific start and end
          date</label> <span ng-class="memstructure==='SE'?'dropdown_filter_checkmark_2':''"></span> </label>
    </li>
    <li style="margin-top:5px" class="no-border" ng-hide="user_access_settings.MEM_CLASS_PACKAGES == 'N'"
      ng-class="{'disable_user_access':user_access_settings.MEM_CLASS_PACKAGES == 'D'}"
      ng-click="memstructureSelection('NC')"> <label class="dropdown_filter_check"> <input id="NCstructure"
          type="checkbox"> <label for="NCstructure"
          style="cursor:pointer;margin:3px 0 3px 7px;color:#000;font-weight:400">Class packages</label> <span
          ng-class="memstructure==='NC'?'dropdown_filter_checkmark_2':''"></span> </label> </li>
  </ul>
</div>































$scope.selectMember = function (member)
{
if (member.cateringtype!='-')
{
$scope.a=true;
$scope.catering=true;

}
else {

$scope.a=false;
$scope.catering=false;


}

if (member.laundrytype!='-') {

$scope.b=true;
$scope.laundry=true;
}
else {

$scope.b=false;
$scope.laundry=false;
}

$scope.member=member;
$scope.selectedmember=member.Customerid;
$scope.form2visible = false;
$scope.form1visible = true;
$scope.roombookingtablevisible = false;
$scope.update = true;
$scope.hidesave = false;
$scope.username = member.Name;
$scope.dropdownselect1 = member.Gender;
$scope.email = member.Email;
$scope.age = member.Age;
$scope.phonenumber = member.Phoneno;
$scope.purpose = member.purpose;
$scope.dropdownselect2 =member.idtype;
$scope.IDnumber = member.idno;
$scope.roomtype = member.roomtype;
$scope.roomsize = member.roomsize;
$scope.checkindate =member.checkindate;
$scope.checkintime =member.checkintime;
$scope.checkoutdate =member.checkoutdate;
$scope.checkouttime = member.checkouttime;
$scope.cateringtype = member.cateringtype;
$scope.laundrytype = member.laundrytype;
$scope.currentcheckintime=false;
}
$scope.updateMember = function () {
if ($scope.cateringtype)
{
$scope.cateringneeded = "yes";
$scope.cateringservice = $scope.cateringtype;

}

else {

$scope.cateringneeded = "No";
$scope.cateringservice = "-";

}

if ($scope.laundrytype)
{

$scope.laundryneeded = "yes";
$scope.laundryservice = $scope.laundrytype;

}
else {
$scope.laundryneeded = "No";
$scope.laundryservice = "-";

}
//if no changes made in cin and cout date
if($scope.checkintime== $scope.member.checkintime)
{
$scope.Checkintime=$scope.checkintime
}
if($scope.checkouttime== $scope.member.checkouttime)
{
$scope.Checkouttime=$scope.checkouttime
}

if($scope.username != $scope.member.Name ||$scope.dropdownselect1!=$scope.member.Gender ||
$scope.email!=$scope.member.Email ||$scope.age!=$scope.member.Age||
$scope.phonenumber!=$scope.member.Phoneno || $scope.purpose!=$scope.member.purpose ||
$scope.dropdownselect2!=$scope.member.idtype || $scope.IDnumber!=$scope.member.idno ||
$scope.roomtype !=$scope.member.roomtype || $scope.roomsize!=$scope.member.roomsize
||$scope.checkindate!=$scope.member.checkindate ||$scope.checkintime!= $scope.member.checkintime ||
$scope.checkoutdate!=$scope.member.checkoutdate || $scope.checkouttime!=$scope.member.checkouttime ||
$scope.cateringtype!=$scope.member.cateringtype ||$scope.laundrytype!=$scope.member.laundrytype)
{
$http.post("roombookingcontroller.php?action=update",
{
'Customerid': $scope.selectedmember,
'Name': $scope.username,
'Gender': $scope.dropdownselect1,
'Email': $scope.email,
'Age': $scope.age,
'Phoneno': $scope.phonenumber,
'purpose': $scope.purpose,
'idtype': $scope.dropdownselect2,
'idno': $scope.IDnumber,
'roomtype': $scope.roomtype,
'roomsize': $scope.roomsize,
'checkindate': $scope.checkindate,
'checkintime': $scope.Checkintime,
'catering': $scope.cateringneeded,
'checkoutdate': $scope.checkoutdate,
'checkouttime': $scope.Checkouttime,
'laundry': $scope.laundryneeded,
'cateringtype': $scope.cateringservice,
'laundrytype': $scope.laundryservice
}
).then(function () {
$scope.username = null;
$scope.dropdownselect1 = null;
$scope.email = null;
$scope.age = null;
$scope.phonenumber = null;
$scope.purpose = null;
$scope.dropdownselect2 = null;
$scope.IDnumber = null;
$scope.roomtype = null;
$scope.roomsize = null;
$scope.checkindate = null;
$scope.checkintime = null;
$scope.checkoutdate = null;
$scope.checkouttime = null;
$scope.catering = false;
$scope.laundry = false;
$scope.cateringtype = null;
$scope.laundrytype = null;
public function updateuserdata($Customerid,$Name,$gender,$customeremail ,$customerage,
$customerphoneno,$purpose,$idtype, $idno, $roomtype,$roomsize,$checkindate, $checkintime,$catering,$checkoutdate,
$checkouttime,$laundry,$cateringtype, $laundrytype)
{
$query =" update
Bookingdetails B,Customerdetails C
SET C.Name='$Name' ,c.Gender='$gender',c.Email='$customeremail',c.Age='$customerage',
c.Phoneno='$customerphoneno',B.purpose='$purpose',B.idtype='$idtype',B.idno=' $idno',B.roomtype='$roomtype',
B.roomsize='$roomsize',B.checkindate='$checkindate',B.checkintime='$checkintime',B.catering='$catering',
B.checkoutdate='$checkoutdate',B.checkouttime='$checkouttime',B.laundry='$laundry',B.cateringtype='$cateringtype',B.laundrytype='$laundrytype'

where B.Customerid='$Customerid' AND C.Customerid='$Customerid'";

$result=mysqli_query($this->conn, $query);

return $result;
}






<label class="switch" style="margin-left:auto"> <input type="checkbox" ng-model="prorate.prorateValue"
    ng-true-value="'Y'" ng-false-value="'N'"
    ng-disabled="mempayfrequency==='N'||mempayfrequency==='W'||mempayfrequency==='A'||mempayfrequency==='C'||mempayfrequency==='B'"
    ng-change="catchProRateChange()" class="ng-pristine ng-untouched ng-valid ng-not-empty"> <span class="slide round"
    ng-style="{'background-color' : mempayfrequency==='B' ? '#d9d9d9' : ''}"></span> <span class="on-txt"
    ng-show="prorate.prorateValue=='Y'">YES</span> <span class="off-txt ng-hide"
    ng-show="prorate.prorateValue=='N'">NO</span> </label>



















<form enctype="multipart/form-data" novalidate="" class="ng-pristine ng-invalid ng-invalid-required"
  data-hs-cf-bound="true">
  <div class="row" style="margin-bottom:20px" ng-hide="user_access_settings.ST_MEM_OPT_DETAILS_TITLE == 'N'"
    ng-class="{'disable_user_access':user_access_settings.ST_MEM_OPT_DETAILS_TITLE == 'D'}"> <label
      class="col-xs-12">Title</label>
    <div class="col-xs-5">
      <div class="membutton border_shadow"> <input
          class="no-border txt-ellipsis ip-text-center ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
          style="width:100%" ng-model="msoptCategory" ng-change="catchMSOPTTitle()" placeholder="Specify a short title"
          required=""> </div>
    </div>
  </div>
  <div class="row" style="margin-bottom:20px"> <label class="col-xs-12">Subtitle</label>
    <div class="col-xs-5">
      <div class="membutton border_shadow"> <input
          class="no-border txt-ellipsis ip-text-center ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
          style="width:100%" ng-model="msoptSubCategory" ng-change="catchMSOPTSubTitle()"
          placeholder="Specify a short subtitle" required=""> </div>
    </div>
  </div> <!-- ngIf: msoptionadded -->
  <div class="row" style="margin-bottom:20px"> <label class="col-xs-12">Description</label>
    <div class="col-xs-12 cstm-wysiwyg-btn cstm-text-editor" style="margin-top:-10px">
      <div textarea-id="memsopttextarea" textarea-class="add_membutton" ng-change="catchMSOPTDesc()"
        ng-paste="htmltoPlainTextMembership($event)" textarea-width="95%" textarea-height="180px !important"
        textarea-name="textareaQuestion" ng-model="optioncategorydesc" enable-bootstrap-title="true"
        class="ng-isolate-scope ng-empty ng-valid">
        <style>
          .wysiwyg-btn-group-margin {
            margin-right: 2px;
          }

          .wysiwyg-select {
            height: 30px;
            margin-bottom: 1px;
            margin-left: 2px !important;
          }

          .wysiwyg-colorpicker {
            font-family: arial, sans-serif !important;
            font-size: 16px !important;
            padding: 5px 10px !important;
            width: 85%;
          }
        </style>
        <div style="margin-left:15px" ;="" class="btn-group btn-group-sm wysiwyg-btn-group-margin"><button title=""
            tabindex="-1" type="button" unselectable="on" class="btn btn-default" ng-click="format('bold')"
            ng-class="{ active: isBold}" data-original-title="Bold"><i class="fa fa-bold"></i></button><button title=""
            tabindex="-1" type="button" unselectable="on" class="btn btn-default" ng-click="format('italic')"
            ng-class="{ active: isItalic}" data-original-title="Italic"><i class="fa fa-italic"></i></button></div>
        <div class="btn-group btn-group-sm wysiwyg-btn-group-margin cstmselectfont" style="border: none;"><select
            style="margin-top:20px !important; " unselectable="on" tabindex="-1"
            class="form-control wysiwyg-select ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="fontSize"
            ng-options="f.size for f in fontSizes" ng-change="setFontSize()">
            <option label="10px" value="object:600">10px</option>
            <option label="13px" value="object:601" selected="selected">13px</option>
            <option label="16px" value="object:602">16px</option>
            <option label="18px" value="object:603">18px</option>
            <option label="24px" value="object:604">24px</option>
            <option label="32px" value="object:605">32px</option>
            <option label="48px" value="object:606">48px</option>
          </select><i class="fa fa-caret-down" aria-hidden="true"
            style="display:none;position: absolute;top: 34px;right: 5px;pointer-events: none;color: black"></i></div>
        <div style="margin-left:3px !important;" class="btn-group btn-group-sm wysiwyg-btn-group-margin"><button
            title="" tabindex="-1" type="button" unselectable="on" class="btn btn-default"
            ng-click="format('insertorderedlist')" ng-class="{ active: isOrderedList}"
            data-original-title="Ordered List"><i class="fa fa-list-ol"></i></button><button title="" tabindex="-1"
            type="button" unselectable="on" class="btn btn-default" ng-click="format('insertunorderedlist')"
            ng-class="{ active: isUnorderedList}" data-original-title="Unordered List"><i
              class="fa fa-list-ul"></i></button></div>
        <div class="btn-group btn-group-sm wysiwyg-btn-group-margin"><button id="memsopttextarea_desclink"
            ng-show="!isLink" tabindex="-1" title="" type="button" unselectable="on" class="btn btn-default"
            ng-click="createLink('desc')" data-original-title="Link"><i class="fa fa-link"></i> </button><button
            id="memsopttextarea_maillink" style="display: none" ng-show="!isLink" tabindex="-1" title="" type="button"
            unselectable="on" class="btn btn-default" ng-click="createLink('mail')" data-original-title="Link"><i
              class="fa fa-link"></i> </button><button ng-show="isLink" tabindex="-1" title="" type="button"
            unselectable="on" class="btn btn-default ng-hide" ng-click="format('unlink')"
            data-original-title="Unlink"><i class="fa fa-unlink"></i> </button></div>
        <div id="memsopttextarea"
          style="margin: 8px; resize: vertical; width: 95%; overflow: auto; height: 180px !important;"
          contenteditable="true" class="add_membutton wysiwyg-textarea wysiwyg-isEditable ng-empty" rows=""
          name="textareaQuestion" placeholder="" ng-model="value" ng-change="catchplaceholdercaret()"></div>
      </div>
    </div>
  </div>
</form>

















<label class="switch" ng-show="user_access_settings.MEM_LEVEL_RANK_TOGGLE != 'N'"
  ng-class="{'disable_user_access':user_access_settings.MEM_LEVEL_RANK_TOGGLE  == 'D'}"> <input type="checkbox"
    ng-model="levelRankSwitch.rankSwitch" ng-change="levelRankSwitchFunc('rank')"
    class="ng-pristine ng-untouched ng-valid ng-not-empty"> <span class="slide round"></span> <span class="on-txt"
    ng-show="levelRankSwitch.rankSwitch">YES</span> <span class="off-txt ng-hide"
    ng-show="!levelRankSwitch.rankSwitch">NO</span> </label>

e.levelRankSwitchFunc = function(t) {
if ("rank" == t && e.rank_columns.length > 0 && !d.levelRankSwitch.rankSwitch)
return console.log(d.levelRankSwitch.rankSwitch),
d.levelRankSwitch.rankSwitch = !d.levelRankSwitch.rankSwitch,
e.openPopup("addMembershipMessage_modal", "addMembershipMessage_text", "Existing Levels/Ranks must be deleted to change
this to no."),
0;
$("#progress-full").show();
let s = "Y";
"skill" == t ? s = d.levelRankSwitch.skillSwitch ? "Y" : "N" : "rank" == t ? (s = d.levelRankSwitch.rankSwitch ? "Y" :
"N",
0 == d.levelRankSwitch.rankSwitch && (d.levelRankSwitch.attendanceSwitch = !1)) : "att" == t && (s =
d.levelRankSwitch.attendanceSwitch ? "Y" : "N"),
a({
method: "POST",
url: n.url + "updatelevelRankRequiremnets",
data: {
company_id: e.company_id,
membership_id: e.membership_id,
type: t,
value: s
},
headers: {
"Content-Type": "application/json; charset=utf-8"
},
withCredentials: !0
}).then(function(t) {
"Success" === t.data.status ? (i.membershiplocaldata = i.preview_membershipcontent = i.membership_details =
e.membership_details = t.data.msg,
$("#progress-full").hide()) : "Expired" === t.data.status ? ($("#progress-full").hide(),
$("#messageModal").modal("show"),
$("#messagetitle").text("Message"),
$("#messagecontent").text(t.data.msg),
e.logout()) : e.handleFailure(t.data)
}, function(t) {
e.handleError(t.data)
})
}



<div class="btn-group" style="width:100px"> <button class="btn btn-secondary custom_input discnt_type_class"
    style="width: 50%; color: rgb(0, 0, 0);" ng-click="discnt_type='V'"
    ng-class="{ 'discnt_type_class' : (discnt_type == 'V') }">$</button>
  <button class="btn btn-secondary custom_input" style="width: 50%; color: rgb(0, 0, 0);" ng-click="discnt_type='P'"
    ng-class="{ 'discnt_type_class' : (discnt_type == 'P') }">%</button>
</div>




<div ng-hide="user_access_settings.ST_MEM_OPT_DISCOUNTS == 'N'"
  ng-class="{'disable_user_access':user_access_settings.ST_MEM_OPT_DISCOUNTS == 'D'}" class="collapsable-content"
  style="margin-bottom:20px">
  <div class="collapsable-content__header" ng-click="changeOptTab('memoptdiscountcodes')"
    ng-style="{'border-radius' : (optionTab=='memoptdiscountcodes') ? '13px 13px 0px 0px' : '13px' }"
    style="border-radius: 13px 13px 0px 0px;">
    <div class="badge-transparent ng-binding">3</div>&nbsp;&nbsp;<b>DISCOUNT CODES</b>
    <div style="display:flex;float:right"> <i class="fa fa-caret-up"
        ng-class="optionTab=='memoptdiscountcodes'?'fa-caret-up':'fa-caret-down'"
        style="font-size: 26px; margin-top: -3px;"></i> </div>
  </div>
  <div class="collapsable-content__body" ng-show="optionTab=='memoptdiscountcodes'"
    style="padding: 30px 30px 0px 15px;"> <label class="col-xs-12"
      ng-show="user_access_settings.MEM_ADD_DISCOUNT != 'N'"
      ng-class="{'disable_user_access':user_access_settings.MEM_ADD_DISCOUNT  == 'D'}">Discount Code</label>
    <div class="row" ng-show="user_access_settings.MEM_ADD_DISCOUNT != 'N'"
      ng-class="{'disable_user_access':user_access_settings.MEM_ADD_DISCOUNT  == 'D'}" style="margin:0">
      <div class="col-xs-5">
        <div class="membutton border_shadow"> <input
            class="no-border ip-text-center ng-dirty ng-touched ng-empty ng-invalid ng-invalid-required"
            style="width: 100%;" ng-model="discountcode" ng-change="catchEDiscountcode()"
            placeholder="Specify discount code name" required=""> </div>
      </div>
    </div>
    <div class="row" style="margin:0;margin-bottom:5px" ng-show="user_access_settings.MEM_ADD_DISCOUNT != 'N'"
      ng-class="{'disable_user_access':user_access_settings.MEM_ADD_DISCOUNT  == 'D'}">
      <div class="col-xs-5">
        <div class="dropdown" style="margin:10px 0 0;width:100%"> <button
            class="dropdown-toggle membutton border_shadow" type="button" data-toggle="dropdown" style="width:100%"
            aria-expanded="false">
            <div class="dropdown-text-truncate ng-binding">Membership Fee</div> <span class="filterdrop"></span>
          </button>
          <ul class="dropdown-menu program_filter_dropdown" style="width:100%;height:auto;top:0;background-color:#fff">
            <li style="padding:5px" ng-click="discount_off='M'"> <label class="dropdown_filter_check"> <input
                  id="MFdiscountoff" type="checkbox"> <label for="MFdiscountoff" class="cursor-pointer"
                  style="margin:3px 0 3px 10px;color:#000;font-weight:500">Membership Fee</label> <span
                  ng-class="{'dropdown_filter_checkmark_2': discount_off=='M'}" class="dropdown_filter_checkmark_2"
                  style=""></span> </label> </li>
            <li style="padding:5px" ng-click="discount_off='S'"> <label class="dropdown_filter_check"> <input
                  id="SFdiscountoff" type="checkbox"> <label for="SFdiscountoff" class="cursor-pointer"
                  style="margin:3px 0 3px 10px;color:#000;font-weight:500">Sign-up Fee</label> <span
                  ng-class="{'dropdown_filter_checkmark_2': discount_off=='S'}" class="" style=""></span> </label> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" style="margin:0" ng-show="user_access_settings.MEM_ADD_DISCOUNT != 'N'"
      ng-class="{'disable_user_access':user_access_settings.MEM_ADD_DISCOUNT  == 'D'}">
      <div class="col-xs-5 vertical-align-center">
        <div class="btn-group" style="width:100px"> <button class="btn btn-secondary custom_input discnt_type_class"
            style="width:50%;color:#000" ng-click="discnt_type='V'"
            ng-class="{ 'discnt_type_class' : (discnt_type == 'V') }">$</button> <button
            class="btn btn-secondary custom_input" style="width:50%;color:#000" ng-click="discnt_type='P'"
            ng-class="{ 'discnt_type_class' : (discnt_type == 'P') }">%</button> </div>
        <div class="membutton prepend-icon-inner" style="margin-bottom:10px;margin-left:10px"> <span
            class="rightborder ng-binding" style="padding:0">$</span> <input ng-model="discountamount"
            ng-change="catchEDiscountcode()"
            class="no-border has-feedback-left ng-dirty ng-touched ng-empty ng-invalid ng-invalid-required"
            style="width: 80%; text-align: center;" valid-number="" required=""> </div>
      </div>
    </div>
    <div class="row" style="margin:0" ng-show="user_access_settings.MEM_ADD_DISCOUNT != 'N'"
      ng-class="{'disable_user_access':user_access_settings.MEM_ADD_DISCOUNT  == 'D'}">
      <div class="col-xs-5"> <button class="btn custom-modal-button green-button"
          style="border-radius:10px!important;margin-bottom:20px" ng-disabled="!discountcode || !discountamount"
          ng-click="$root.save_redirection_to = '';msadddiscount()" disabled="disabled">ADD</button> </div>
    </div> <label ng-show="msdiscountList.length>0" class="col-xs-12" style="margin: 20px 0px;">Active discount
      codes</label> <!-- ngRepeat: msdiscount in msdiscountList -->
    <div ng-show="msdiscountList.length>0" ng-repeat="msdiscount in msdiscountList" class="ng-scope" style="">
      <div style="margin-bottom:40px" ng-show="msdiscountView  || $index !== selecteddiscountindex">
        <div class="row" style="margin:0;margin-bottom:10px">
          <div class="col-xs-5">
            <div class="membutton border_shadow"> <input
                class="no-border ng-pristine ng-untouched ng-valid ng-not-empty" style="width:100%;text-align:center"
                ng-model="msdiscount.discount_code" readonly="readonly"> </div>
          </div>
        </div>
        <div class="row" style="margin:0;margin-bottom:10px">
          <div class="col-xs-5">
            <div class="membutton border_shadow"> <input class="no-border" style="width:100%;text-align:center"
                value="Sign-up Fee" readonly="readonly"> </div>
          </div>
        </div>
        <div class="row" style="margin:0">
          <div class="col-xs-5 vertical-align-center">
            <div class="membutton border_shadow prepend-icon-inner" style="width:70%"> <span
                class="rightborder ng-binding" style="padding:0">$</span> <input ng-model="msdiscount.discount_amount"
                class="no-border has-feedback-left ng-pristine ng-untouched ng-valid ng-not-empty"
                style="width:80%;text-align:center" readonly="readonly"> </div>
            <div class="btn-group btn-group-md cstm-btn-group" style="margin-left:auto"> <button
                class="btn btn-default cstm-lft-btn-default" type="button"
                ng-show="user_access_settings.MEM_DELETE_DISCOUNT != 'N'"
                ng-class="{'disable_user_access':user_access_settings.MEM_DELETE_DISCOUNT  == 'D'}"
                ng-click="msdeletediscount(msdiscount.membership_discount_id)"><i class="fa fa-trash"></i></button>
              <button class="btn btn-default cstm-rgt-btn-default" type="button"
                ng-show="user_access_settings.MEM_EDIT_DISCOUNT != 'N'"
                ng-class="{'disable_user_access':user_access_settings.MEM_EDIT_DISCOUNT  == 'D'}"
                ng-click="mseditdiscount(msdiscount,$index)"><i class="fa fa-pencil"></i></button> </div>
          </div>
        </div>
      </div>
      <div style="margin-bottom:40px" ng-show="msdiscountEditView || $index === selecteddiscountindex" class="ng-hide">
        <div class="row" style="margin:0;margin-bottom:10px">
          <div class="col-xs-5">
            <div class="membutton border_shadow"> <input
                class="no-border ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" style="width:100%"
                ng-model="editdiscountcode" required=""
                ng-change="catchtempDiscountcode(editdiscountcode,editdiscountamount)"> </div>
          </div>
        </div>
        <div class="row" style="margin:0;margin-bottom:20px">
          <div class="col-xs-5">
            <div class="dropdown" style="margin:10px 0 0;width:100%"> <button
                class="dropdown-toggle membutton border_shadow" type="button" data-toggle="dropdown" style="width:100%">
                <div class="dropdown-text-truncate ng-binding">Sign-up Fee</div> <span class="filterdrop"></span>
              </button>
              <ul class="dropdown-menu program_filter_dropdown"
                style="width:100%;height:auto;top:0;background-color:#fff">
                <li style="padding:5px" ng-click="edit_discount_off='M';catchEDiscountcode()"> <label
                    class="dropdown_filter_check"> <input id="EMFdiscountoff" type="checkbox"> <label
                      for="EMFdiscountoff" class="cursor-pointer"
                      style="margin:3px 0 3px 10px;color:#000;font-weight:500">Membership Fee</label> <span
                      ng-class="{'dropdown_filter_checkmark_2': edit_discount_off=='M'}"></span> </label> </li>
                <li style="padding:5px" ng-click="edit_discount_off='S';catchEDiscountcode()"> <label
                    class="dropdown_filter_check"> <input id="ESFdiscountoff" type="checkbox"> <label
                      for="ESFdiscountoff" class="cursor-pointer"
                      style="margin:3px 0 3px 10px;color:#000;font-weight:500">Sign-up Fee</label> <span
                      ng-class="{'dropdown_filter_checkmark_2': edit_discount_off=='S'}"></span> </label> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row" style="margin:0;margin-bottom:20px">
          <div class="col-xs-5 vertical-align-center">
            <div class="btn-group" style="width:100px"> <button class="btn btn-secondary custom_input"
                style="width:50%;color:#000" ng-click="edit_discnt_type='V';catchEDiscountcode()"
                ng-class="{ 'discnt_type_class' : (edit_discnt_type == 'V') }">$</button> <button
                class="btn btn-secondary custom_input" style="width:50%;color:#000"
                ng-click="edit_discnt_type='P';catchEDiscountcode()"
                ng-class="{ 'discnt_type_class' : (edit_discnt_type == 'P') }">%</button> </div>
            <div class="membutton prepend-icon-inner" style="margin-bottom:10px;margin-left:10px"> <span
                class="rightborder ng-binding" style="padding:0">%</span> <input ng-model="editdiscountamount"
                ng-change="catchtempDiscountcode(editdiscountcode,editdiscountamount)"
                class="no-border has-feedback-left ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                style="width:80%" valid-number="" required=""> </div>
          </div>
        </div>
        <div class="row" style="margin:0">
          <div class="col-xs-5"> <button id="12287" class="btn custom-modal-button green-button"
              style="border-radius:10px!important;margin-bottom:20px"
              ng-disabled="!editdiscountcode || !editdiscountamount"
              ng-click="msupdatediscount(msdiscount.membership_discount_id)" disabled="disabled">SAVE</button> </div>
        </div>
      </div>
    </div><!-- end ngRepeat: msdiscount in msdiscountList -->
  </div>
</div>